@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.purple-haze {
  --grape: #7C33B8;
  --tekhelet: #461393;
  --duration: 10s;

  background-image: linear-gradient(
    to bottom right,
    var(--grape) 0%,
    var(--tekhelet) 50%,
    var(--grape) 100%
  );
  background-size: 200% 200%;
  animation: backgroundAnimation var(--duration) infinite;
}

/* styles.css */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-text-center thead tr th, .table-text-center tbody tr td{
  text-align: center;
}

.table-border-white thead tr th, .table-border-white tbody tr td{
  border: 1px solid white;
  border-color: white;
}

.table-row-hover-cursor tbody tr:hover{
  cursor: pointer;
}

.button-text-shadow *, .button-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  color: #6B21A5;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

@layer components {
  .primary-page {
    @apply w-[100vw] max-h-max text-white scroll-smooth transition-all duration-500 ease-in-out;
  }

  .primary-icon {
    @apply text-shadow shadow-2xl drop-shadow-2xl;
  }

  .blog-content {
    @apply w-3/4 sm:w-1/2 min-h-[50%] max-h-max break-words;
  }

  .blog-content p {
    @apply whitespace-normal text-justify break-all;
  }

  .blog-content h1 {
    @apply text-lg sm:text-2xl font-bold text-left;
  }

  .blog-content h2 {
    @apply text-sm sm:text-lg font-bold text-left;
  }

  .blog-content ul {
    @apply list-disc;
  }

  .blog-content ol {
    @apply list-decimal;
  }

  img {
    @apply shadow-2xl drop-shadow-2xl;
  }

  path {
    @apply text-shadow drop-shadow-2xl;
  }

  .text-overflow-ellipsis {
    @apply overflow-hidden whitespace-nowrap text-ellipsis;
  }
}


