@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.purple-haze {
  --grape: #7C33B8;
  --tekhelet: #461393;
  --duration: 10s;

  background-image: linear-gradient(
    to bottom right,
    var(--grape) 0%,
    var(--tekhelet) 50%,
    var(--grape) 100%
  );
  background-size: 200% 200%;
  animation: backgroundAnimation var(--duration) infinite;
}

/* styles.css */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-text-center thead tr th, .table-text-center tbody tr td{
  text-align: center;
}

.table-border-white thead tr th, .table-border-white tbody tr td{
  border: 1px solid white;
  border-color: white;
}

.table-row-hover-cursor tbody tr:hover{
  cursor: pointer;
}

.button-text-shadow *, .button-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

